.job__container {
  background: white;
  display: flex;
  margin: auto;
  padding: 0 20px;
  border-radius: 10px;
}

.job__jobType {
  color: #0087e0;
  font-size: 1.3rem;
  margin-right: 10px;
}

.job__card {
  border-bottom: 1px solid #DEDEDE;

}
.job__card:hover {
  box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);
}

.job__title {
  font-size: 1.3rem;
}

.job__main {
  margin-left: 10px;
}

.job__summary {
  max-width: 75ch;
  word-wrap: break-word;
}

.job__bottom {
  margin-left: 62px;
}

.job__side {
  margin-left: auto;
  min-width: fit-content;
}

.job__infoExtras {
  display: flex;
  gap: 20px;
}

.job__infoExtras__right,
.job__infoExtras__left {
  display: inline-block;
  /* background-color: red; */
}

.job__infoExtras__right {
  float: right;
  margin-right: 20px;
}

.job__infoExtras span {
  margin-right: 5px;
}

.job__status {
  color: #5dc26a;
  text-transform: capitalize;
}

.job__tags > .job__icon {
  display: inline-block;
}

.job__tags__tags {
  display: inline;
}

.job__tags {
  margin-top: 20px;
  margin-bottom: 20px;
}
.job__rating {
  background: #f77d0e;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.job__side h1 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.job__side p {
  float: right;
  text-align: right;
  margin-right: 5px;
}

.job__side img {
    height:10%;
    float: right;
    display: block;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}